body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
  color:#007bff;
}

.navbar-brand {
  max-height: 45px;
} 

.navbar-brand img{
  vertical-align: top;
  width: 125px;
  height: 85px;
  margin-top: -22px;
  padding-right: 20px;
}

.navbar-nav {
  margin-left: -60px;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.card {
  border-radius: 10px; /* Adds rounded corners to the card */
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for transform and box-shadow changes */
}

/* Hover effect for card elements */
.card:hover {
  transform: scale(1.05); /* Slightly enlarges the card when hovered */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Adds a shadow effect to the card when hovered */
}

/* Style for card title text */
.card-title {
  color: #007bff; /* Sets the text color of the card title to a blue shade */
}

/* Style for card body elements */
.card-body {
  background-color: #ffffff; /* Sets the background color of the card body to white */
  border-radius: 10px; /* Adds rounded corners to the card body */
}

h6 {
  color: #17a2b8;
}

ul {
  padding-left: 20px;
}

ul li {
 margin-bottom: 5px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
