{% extends "layout.html" %}
{% block content %}
    <h1 class="text-center mb-4">Businesses</h1>
        <div class="row">
            {% for business in businesses.values() %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ business.name }}</h5>
                        <p class="card-text">{{ business.description }}</p>
                        <hr>
                        <p><strong>Address:</strong> {{ business.location.address }}</p>
                        <p><strong>City:</strong> {{ business.location.city }}</p>
                        <p><strong>State:</strong> {{ business.location.state }}</p>
                        <p><strong>Country:</strong> {{ business.location.country }}</p>
                        <hr>
                        <h6>Services Offered:</h6>
                        <ul>
                            {% for service in business.services %}
                            <li>{{ service.name }}: {{ service.description }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock content %}
